<div class="container mt-5">
    <h3>Lista de Clientes</h3>

    <!-- <form action="">
        <div class="form-group">

            <input type="text" class="form-control" id="buscador" placeholder="buscador">
        </div>
    </form> -->

    <div class="row">


        <div class="col-sm-3 mt-3" *ngFor= " let cliente of clientes">
            <div class="card">
                <img [src]="cliente.imgUrl" class="card-img-top imgCliente" >
                <div class="card-body">
                    <h4 class="card-title">{{cliente.nombre}} {{cliente.apellido}}</h4>
                    <h6 class="card-title"> tel: {{cliente.telefono}}   </h6>
                    <h6 class="card-title"> dni: {{cliente.dni}}   </h6>
                    <h6 class="card-title text-center"> Rutina </h6>
                    <p class="card-text">{{cliente.rutina}}</p>

                    <a [routerLink]="['/agregar-clientes/', cliente.id]" class="card-link">Editar</a>
                    <a (click)="delete(cliente)" type="button" class="card-link text-danger">Eliminar</a>
                </div>
            </div>
        </div>


    </div>
</div>
