<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gym</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inscripcion<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="#"> Ver Inscripciones<span class="sr-only"></span></a>
            </li>

            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" href="#" dropdownToggle id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Clientes
                </a>
                <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Agregar Clientes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/listado-clientes" href="#">Ver Clientes</a>

                </div>
            </li>

            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" href="#" dropdownToggle id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Precios
                </a>
                <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Agregar Precio</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Ver Precios</a>

                </div>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="#"> Administrar Usuarios<span class="sr-only"></span></a>
            </li>
            
            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" href="#" dropdownToggle id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reportes
                </a>
                <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Suscipciones Diarias</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Suscripciones Mensuales</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Suscripciones mas Vendidas</a>

                </div>
            </li>

        </ul>

    </div>
    <div>
        
        
        <button  class="btn btn-dark" (click)="logout()">Cerrar Sesion</button>
    </div>
    
</nav>